{% extends 'base.html' %}

{% block content %}

  <h1>책 상세 정보</h1>
  <p>등록 번호 : {{ book.pk }}</p>
  <p>제목 : {{ book.title }}</p>
  <p>설명 : {{ book.description }}</p>
  <hr>

  <h2>리뷰 등록</h2>
  <form action="{% url "libraries:review_create" book.pk %}" book.pk method="post">
    {% csrf_token %}
    {{ review_form.as_p }}
    <input type="submit" value="리뷰 작성">
  </form>

  <h2>리뷰 전체 목록</h2>
  <ul>
    {% for review in reviews %}
      <li>
        {{ review.user }} - {{ review.content }}
        {% if request.user == review.user %}
        <form action="{% url "libraries:review_delete" book.pk review.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="리뷰 삭제">
        </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>


<a href="{% url "libraries:index" %}">[BACK]</a>

{% endblock content %}