<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if request.user.is_authenticated %}
    <h2>반갑습니다, {{ user.username }} 님</h2>

    {% comment %} 로그아웃 {% endcomment %}
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>

    {% comment %} 회원탈퇴 {% endcomment %}
    <form action="{% url "accounts:delete" %}" method="post">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>

    {% comment %} 회원정보수정 {% endcomment %}
    <a href="{% url "accounts:update" %}">회원정보수정</a>

    {% comment %} 게시글 작성 {% endcomment %}
    <a href="{% url "articles:create" %}">CREATE</a>

  {% else %}
    {% comment %} 로그인 {% endcomment %}
    <a href="{% url "accounts:login" %}">Login</a>

    {% comment %} 회원가입 {% endcomment %}
    <a href="{% url "accounts:signup" %}">Signup</a>
  
  {% endif %}

  <h1>Articles</h1>

  <hr>
  {% for article in articles %}
    <p>글 번호: {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목: {{ article.title }}</p>
    </a>
    <p>글 내용: {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
