{% extends 'base.html' %}


{% block content %}


    {% if request.user.is_authenticated %}
        <h2>반갑습니다, {{ user.username }} 님</h2>
    {% endif %}
    <hr>

    <h1>INDEX PAGE</h1>
    <hr>
    
    {% for movie in movies %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">제목 : {{ movie.title }}</h5>
          <p class="card-text">줄거리 : {{ movie.content }}</p>
          <a class="btn btn-primary" href="{% url "movies:detail" movie.pk%}" role="button">Detail</a>

        </div>
      </div>

    <hr>
    {% endfor %}




{% endblock content %}



