<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form v-on:submit.prevent="addTodo">
      <input type="text" v-model="inputText">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button v-on:click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const inputText = ref('')


        // 변수 todos에 새로운 할 일 객체를 추가하는 역할
        // HTML form 요소에서 submit 이벤트가 발생하면 호출
        // 새로운 할 일 객체의 id 속성 값은 JavaScript Date 객체의 now()를 활용
        // 사용자 입력 값이 없거나 공백을 입력하면 할 일을 추가하지 않는다.
        const addTodo = function () {
          const id = Date.now()
          const text = inputText.value
          const isCompleted = false
          
          todos.value.push({
            id, 
            text, 
            isCompleted
          })
          
          inputText.value = ''
        }

        // 변수 todos에서 특정 할 일 객체를 삭제하는 역할
        // HTML li 요소 안에 Delete button을 클릭하면 호출
        // id 속성 값을 활용해 어떤 할 일이 선택되었는지를 찾는다.
        // 선택된 할 일의 index를 찾아 todos 배열에서 삭제
        // JavaScript 배열의 findindex()와 splice()를 활용
        // const deleteTodo = function () {

        // }

        const deleteTodo = function (id) {
          const deleteIndex = todos.value.findIndex((element) => {
            return element.id === id
          })
          todos.value.splice(deleteIndex, 1)
        }

        return { 
          todos,
          addTodo,
          inputText,
          deleteTodo,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
